.main {
  text-align: center;
}

.sub {
  display: inline-block;
  padding:1em 2em 10em 2em;
  background-image: url(https://github.com/tomohirowashimi/hks2/blob/master/1.jpg?raw=true);
  background-repeat: no-repeat;
  font-size: 30px;
  color: black;
}
